
<form [formGroup]="form" (ngSubmit)="salvar()" class="row col-12 p-4 border rounded shadow-sm" style="background-color: #2c2c2c; color: #fff;">
  <div class="col-md-4 mb-3">
    <label class="form-label" for="idManifesto">Manifesto:</label>
    <select class="form-select" formControlName="idManifesto" id="idManifesto"  [class.is-invalid]="form.get('idManifesto')?.invalid && form.get('idManifesto')?.touched">
      <option value="">Selecione um manifesto</option>
      <option *ngFor="let manifesto of manifestos" [value]="manifesto.id">
        {{ manifesto.numero }} - {{ manifesto.navio }}
      </option>
    </select>
      <div class="invalid-feedback">
      Manifesto é obrigatório.
    </div>
  </div>

 <div class="col-md-4 mb-3">
    <label class="form-label" for="idEscala">Escala:</label>
    <select class="form-select" formControlName="idEscala" id="idEscala"  [class.is-invalid]="form.get('idEscala')?.invalid && form.get('idEscala')?.touched">
      <option value="">Selecione uma escala</option>
      <option *ngFor="let escala of escalas" [value]="escala.id">
        {{ escala.porto }} - {{ escala.status | status }}
      </option>
    </select>
     <div class="invalid-feedback">
      Escala é obrigatória.
    </div>
  </div>

  <!-- <button type="submit">Salvar</button> -->

   <div class="col-md-2 " style="margin-top:33px">
     <button type="submit" class="btn btn-success flex-grow-1" [disabled]="form.invalid"]>Salvar</button>
   </div>
</form>
