/* You can add global styles to this file, and also import other style files */
.custom-tabs .nav-link {
  color: #555;
  font-weight: 500;
  padding: 12px 20px;
  border: none;
  position: relative;
  transition: all .3s ease;
}

.custom-tabs .nav-link:hover {
  color: #0d6efd;
  background-color: rgba(13, 110, 253, 0.1);
  border-radius: 8px 8px 0 0;
}

.custom-tabs .nav-link.active {
  color: #0d6efd !important;
  font-weight: 600;
  background-color: transparent;
}

.custom-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #0d6efd;
  border-radius: 2px;
}

/* Animação suave entre abas */
.custom-tabs .nav-link::after {
  transition: width .3s ease;
}
